<div class="text-left"><p class="content_title">Request Headers</p></div>
<div class="board_list">
	<table class="table text-center">
		<thead>
			<tr>
				<th>헤더명</th>
				<th>설명</th>
				<th>필수여부</th>
			</tr>
			</thead>
			<tbody>
				<tr>
					<td>Content-Type</td>
					<td>API 요청에 대한 타입</td>
					<td>appliation/json</td>
				</tr>
				<tr>
					<td>api-authorization-key</td>
					<td>API 요청에 대한 키</td>
					<td>Y</td>
				</tr>
			</tbody>
	</table>
</div>