<script src="/assets/js/fileUpload/upload.js" ></script>
<script>
	var parentAcceptExt = null;
	var onSuccessFunc = null;
	var fileUploader = new ForwardFileUploader({});
	$(function() {
		$("[name='changeFile']").change(function(e) {
			if(parentAcceptExt != null && parentAcceptExt.indexOf( fileUploader.getFileExt($(this)[0]) ) == -1) { 
				alert( '업로드 가능한 파일 확장자는 ' + JSON.stringify(parentAcceptExt).replace(/"/g, "") + '입니다.');
				$("[name='changeFile']").val('');
				return;
			}
		});
	});


	function creationComplete(fileKey, acceptExt, onSuccess) {
		if(fileKey == null) { 
			alert('파일 정보가 올바르지 않습니다.');
			parent.changeFilePopup.dialog("close");
			return;
		}

		$("[name='fileKey']").val(fileKey);
		if(onSuccess != null) { onSuccessFunc = onSuccess; }
		if(acceptExt != null && Array.isArray(acceptExt)) { 
			acceptExt.forEach(function(ext, index) { acceptExt[index] = ext.toUpperCase(); });
			parentAcceptExt = acceptExt;
			$("[name='changeFile']").attr('accept', acceptExt.map(function(data) { return '.' + data; }));
		}

		$.post('/file/popup/upload/change/data/view', {
			fileKey: fileKey
		}, function(event) {
			if(event.result == false) { 
				switch(event.code) {
					case -1:
						alert('로그인이 필요합니다.');	
						location.href='/auth/login';
					break;
					case -2: case -3:
						alert('권한이 없습니다.');	
					break;
					default:
						alert('파일정보를 가져오는 중에 오류가 발생하였습니다.');	
					break;
				}
				parent.changeFilePopup.dialog("close");
			} else {
				$("#currentFileName").text(event.fileName);
			}
		});
	}

	function changeUploadFiles() {
		if($("[name='changeFile']").val() == '') {
			alert('파일을 업로드하세요.');
			return false;
		}

		if(confirm('파일을 변경하시겠습니까?')) {
			$.ajax({
				url: '/file/popup/upload/change', 
				type: 'post',
				datatype: 'json',
				data: new FormData($('#uploadForm')[0]),
				contentType : false,
        		processData : false,
				success: function(event) {
					if(event.result == false) {
						alert('파일을 업로드 하는 중에 오류가 발생하였습니다.');
					} else {
						alert('변경되었습니다.');
						onSuccessFunc(event);
					}
				}
			}).fail(function(event) {
				alert('파일을 업로드 하는 중에 오류가 발생하였습니다.');
			})
		}

		return false;
	}
</script>

<form id="uploadForm">
	<input type="hidden" name="fileKey" />
	<table style="width: 100%">
		<tr>
			<td>현재 파일</td>
			<td id="currentFileName"></td>
		</tr>
		<tr>
			<th>업로드 할 파일</th>
			<td><input type="file" name="changeFile" /></td>
		</tr>
	</table>

	<div class="text-center" style="margin-top: 20px;">
		<input type="button" value="저장" onclick="changeUploadFiles();"/>
	</div>
</form>