<div role="tabpanel">
	<%- include (`${displayPath}/applications/API/views/api_info/api_info_header.ejs`, {data: 'basecar', type: 'select'}) %>
	
	<div role="tabpanel" class="tab-pane" id="profile">
		<div class="text-left">
			<h4 class="title"><strong>1. 베이스카 현황 조회</strong></h4>
			<p class="content_title"> API 요청</p>
			<ul>
				<li>&nbsp;&nbsp;[GET] http://camping-car.co.kr/openapi/data/basecar/list</li>
			</ul>
			<br/>
		</div>

		<%- include (`${displayPath}/applications/API/views/api_info/api_request_headers_info.ejs`) %>

		<div class="text-left"><p class="content_title">Request Parameters</p></div>
		<div class="board_list">
			<table class="table text-center">
				<thead>
				  <tr>
					<th>요청 변수</th>
					<th>설명</th>
					<th>타입</th>
					<th>필수여부</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td>basecarKey</td>
					<td>베이스카에 대한 고유 키</td>
					<td>number</td>
					<td>N</td>
				  </tr>
				  <tr>
					<td>basecarModelId</td>
					<td>베이스카에 대한 모델명</td>
					<td>string</td>
					<td>N</td>
				  </tr>
				  <tr>
					<td>createId</td>
					<td>최초등록자</td>
					<td>string</td>
					<td>N</td>
				  </tr>
				</tbody>
			</table>
		</div>
		
		<div class="text-left"><p class="content_title"> Response: Success</p></div>
		<div class="board_list">
			<table class="table text-center">
				<thead>
					<tr>
					<th>필드</th>
					<th>설명</th>
					<th>타입</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>DATA.RESULT</td>
						<td>API 요청에 대한 결과</td>
						<td>boolean</td>
					</tr>
					<tr>
						<td>DATA.DATA.BASECAR_KEY</td>
						<td>베이스카에 대한 고유 키</td>
						<td>number</td>
					</tr>
					<tr>
						<td>DATA.DATA.BASECAR_NM</td>
						<td>베이스카 이름</td>
						<td>string</td>
					</tr>
					<tr>
						<td>DATA.DATA.BASECAR_MODEL_ID</td>
						<td>베이스카 모델명</td>
						<td>string</td>
					</tr>
					<tr>
						<td>DATA.DATA.BASECAR_MANU_ID</td>
						<td>베이스카 제조사</td>
						<td>string</td>
					</tr>
					<tr>
						<td>DATA.DATA.BASECAR_PRICE</td>
						<td>베이스카 가격</td>
						<td>number</td>
					</tr>
					<tr>
						<td>DATA.DATA.BASECAR_OIL_RATIO</td>
						<td>베이스카 연비</td>
						<td>number</td>
					</tr>
					<tr>
						<td>DATA.DATA.BASECAR_PERSON_CNT</td>
						<td>베이스카 탑승 가능 인원</td>
						<td>number</td>
					</tr>
					<tr>
						<td>DATA.DATA.BASECAR_PROD_DATE</td>
						<td>베이스카 제조연도</td>
						<td>string</td>
					</tr>
					<tr>
						<td>DATA.DATA.BASECAR_STANDARD</td>
						<td>베이스카 규격</td>
						<td>string</td>
					</tr>
					<tr>
						<td>DATA.DATA.OBJECT3D_DEFAULT_SET</td>
						<td>3D오브젝트 기본 세트 명</td>
						<td>string</td>
					</tr>
					<tr>
						<td>DATA.DATA.MATERIAL_DEFAULT_SET</td>
						<td>메테리얼 기본 세트 명</td>
						<td>string</td>
					</tr>
					<tr>
						<td>DATA.DATA.CREATE_ID</td>
						<td>최초등록자</td>
						<td>string</td>
					</tr>
					<tr>
						<td>DATA.DATA.UPDATE_ID</td>
						<td>최종수정자</td>
						<td>string</td>
					</tr>
					<tr>
						<td>DATA.DATA.CREATE_DT</td>
						<td>최초등록일시</td>
						<td>string</td>
					</tr>
					<tr>
						<td>DATA.DATA.UPDATE_DT</td>
						<td>최종수정일시</td>
						<td>string</td>
					</tr>
					<tr>
						<td>DATA.DATA.FILE.ORIGINNAME</td>
						<td>베이스카와 관련된 파일명</td>
						<td>string</td>
					</tr>
					<tr>
						<td>DATA.DATA.FILE.NAME</td>
						<td>베이스카와 관련된 파일 세트명</td>
						<td>string</td>
					</tr>
					<tr>
						<td>DATA.DATA.FILE.TYPE</td>
						<td>베이스카와 관련된 파일 세트 타입</td>
						<td>string</td>
					</tr>
					<tr>
						<td>DATA.DATA.FILE.LINK</td>
						<td>베이스카와 관련된 파일 세트 다운로드 링크</td>
						<td>string</td>
					</tr>
					<tr>
						<td>DATA.DATA.FILE.DATE</td>
						<td>베이스카와 관련된 파일 수정일</td>
						<td>date</td>
					</tr>
				</tbody>
			</table>
		</div>

		<%- include (`${displayPath}/applications/API/views/api_info/api_error_info.ejs`) %>
	</div>
</div>