

<div class="cnt_box">
	<p class="content_title"> 소개</p>
	<ul>
		<li>캠핑카포털은 캠핑카 내부 구성품 및 부품들을 클라우드에 저장하여 누구나 활용 가능하도록 개방형 애플리케이션 프로그래밍 인터페이스(API)를 제공합니다. <br/>
			누구라도 쉽고 편리한 검색을 통해 원하는 데이터를 빠르고 정확하게 찾을 수 있습니다.</li>
	</ul>

	<p class="content_title"> API 데이터란?</p>
	<ul>
		<li>API 데이터는 필요한 데이터 등을 호출할 수 있는 인터페이스(Application Programming Interface, API)를 통해 이용이 가능한 데이터를 말하며, 
			신청자는 캠핑카포털에서 제공하는 API 서비스 가이드를 통해 API 데이터를 이용하실 수 있습니다.</li>
	</ul>

	<p class="content_title"> API 신청안내</p>
	<ul>
		<li>'API 신청' 버튼을 클릭하여 이용신청 정보 입력 후 API 신청내역 페이지에서 인증 key 확인 후 통해 바로 이용할 수 있습니다.</li>
	</ul>
	<div class="row use-icons step-wrap">
		<div class="col-md-3">
			<div class="img-icon step01"></div>
			<div class="step-caption">
				<span class="step-num">STEP 01</span>
				<span class="step-tit">회원가입</span>
				<p class="step-txt">일반회원/기업회원 선택하여 가입하시기 바랍니다.</p>
			</div>
			<div class="step-wrap-icon"></div>
		</div>
		
		<div class="col-md-3">
			<div class="img-icon step02"></div>
			<div class="step-caption">
				<span class="step-num">STEP 02</span>
				<span class="step-tit">신청버튼 클릭</span>
				<p class="step-txt">API 데이터 소개 페이지에서 제공하는 정보 및 조건을 꼭 확인해 주세요!</p>
			</div>
			<div class="step-wrap-icon"></div>
		</div>
		
		<div class="col-md-3">
			<div class="img-icon step03"></div>
			<div class="step-caption">
				<span class="step-num">STEP 03</span>
				<span class="step-tit">신청 정보 입력</span>
				<p class="step-txt">이용목적, 이용계획 등 신청 정보를 입력해주세요!</p>
			</div>
			<div class="step-wrap-icon"></div>			
		</div>

		<div class="col-md-3">
			<div class="img-icon step04"></div>
			<div class="step-caption">
				<span class="step-num">STEP 04</span>
				<span class="step-tit">인증 key 확인</span>
				<p class="step-txt">API 신청 > API 신청내역 페이지에서 key 확인!</p>
			</div>
		</div>
	</div>

</div>

<a href="/openapi/apply"><p class="btn btn-lg btn-primary">API 신청 <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> </p></a>
<a href="/openapi/list"><p class="btn btn-lg btn-primary">API 목록 <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> </p></a>