<script src="/assets/js/fileUpload/upload.js"></script>
<script>
	var fileUploader = new ForwardFileUploader({});
    function regenKeys() {
        var file = $("#apiPrivateKey")[0].files[0];
		if( fileUploader.getFileExt($("#apiPrivateKey")[0]) != 'PEM' ) {
			alert('개인키는 PEM파일만 업로드 가능합니다.');
			return;
		}

		var reader = new FileReader();
    	reader.onload = function () {
			var value = reader.result;

			if(value.length >= 1095) {
				alert('개인키의 길이가 너무 깁니다.');
				return false;
			} else if(value.indexOf("ENCRYPTED PRIVATE KEY") == -1) {
				alert('올바른 개인키가 아닙니다.');
				return false;
			}

			$("#pemKeyRecoverForm").find("[name='privateKeyValue']").val(value);
			$("#pemKeyRecoverForm").submit();
		};
		reader.readAsText(file, "utf8");
    }

</script>

<div class="cnt_box">
    <p class="content_title">안내</p>
    <ul>
        <li>API 키를 발급받았을때 생성된 개인키를 이용하여 재발급 받으실 수 있습니다.</li>
        <li>API키와 개인키 모두 분실하시면 기존 키를 삭제 후 다시 발급받으시기 바랍니다.</li>
    </ul>
</div>

<form id="pemKeyRecoverForm" action="/openapi/reGenKeys" method="post">
	<textarea name="privateKeyValue" style="display:none;"></textarea>
	<div class="board_list"> 
		<table>
			<tr>
				<th>개인키</th>
				<td><input type="file" id="apiPrivateKey" /></td>
			</tr>
		</table>
		<p class="text-center">		
			<input type="button" onclick="regenKeys();" class="btn btn-primary" value="API 키 재발급" >
		</p>
	</div>
</form>