<div class="container">
  <p class="pull-right"><a href="#" class="scroll-to-top rounded">TOP</a></p>
  <p>Copyright © 2020 Hubizict. All rights reserved.  &nbsp; &nbsp; <a href="/home/policy">개인정보처리방침</a></p>
</div>